<<<<<<< HEAD
@charset "utf-8";
/* CSS Document */
p{
font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
	font-family: 'Montserrat', sans-serif;
}
	@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,latin-ext');

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
					transition: 1s ease-in-out; 
			-webkit-transition:1s ease-in-out; 
			-moz-transition: 1s ease-in-out; 
			-o-transition: 1s ease-in-out; 
	}
.container{
	position:relative;	
	margin:0 auto;
	}
html {
    -webkit-tap-highlight-color: transparent;
}
  .hcontact{
	white-space: nowrap; }
	.icon-phone{
		line-height:16px;
		
	}
	.hcontack-href{
		line-height:16px;
		 padding:0 15px;
		text-decoration:none;
		color:#fdfc18;
	}
	.hcontack-border{
		border-right : 1px solid #707070;
	}
	.hcontack-float{
		padding-top: 15px;
		float: right;
	}
	
.hlogo{
	float : left;
	padding-top:60px;
	width:auto;
}
.hlogo h1{
		height:50px;
}
.hlogo h1>a{
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;
	font-size:16px;

}
.hlogo h1 a span{
	margin-top:-3px;
}	
.hmenu{
	clear:right;
	float:right;
	margin-top:15px;
}
.nav-full{
	
}
.nav-full ul{
	
}
.nav-last{
	border-right:none !important;
}
.nav-full ul li{
	float:left;
	list-style:none;
	border-right : 1px solid #707070;
}

.nav-full ul li a{
	padding:25px;
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;		
		}
.nav-full ul li a:hover{
	padding:25px;
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;		
		}
.htext{
	    clear: left;
		padding-top:70px;
		padding-bottom: 70px;
}
.htext>h2{
	text-transform:uppercase;
	font-size:36px;
	 font-weight: 900;

}
.slide{
	border-left:1px solid #707070;
	width:400px;
	float:left;
}	
.slide-border-right{
	border-right:1px solid #707070;
}
	.slide-link{
		text-decoration:none;
	}
		.slide-icon{
			padding:40px 50px 5px 50px;
		}
		.slide-h3{
			padding:0 50px;
			text-decoration:none;
			text-transform:uppercase;
			color:#fdfc18;
			font-size:28px;
			height:60px;
		}
		.slider-img{
			max-width:100%;
			margin:30px 0 0px 0;
		}
		.slide-description{
			padding: 30px 50px 30px 50px;
			color:#bbbaba;
			font-size:16px;
			background:#171015;
		}
@media only screen and (min-width: 0px){
	body{display:none;}
}
@media only screen and (min-width: 480px){
	body{display:block;}
	.hcontack-menu{
		display:block;
	}
	.header-background { 
	background: #fff url('../img/header-background-min.jpg') no-repeat center; 
    box-sizing: border-box;
    position: relative;
    background-size: 1100px !important;
    background-position: center 0px !important;
}
	body {
	font: 17px "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	width:100%;
	display:block;
	}
.hmenu-mobile{
	display:none;
	background-color: rgba(255, 255, 255, 0.8);
	position:fixed;
	width:50%;
	right:10%;
	top:0;
	height:auto;	
	z-index:20;
}
.nav-mobile{
	font-size:25px;
	border:none;
}
.nav-mobile ul {
	width:100%;
}
.nav-mobile ul li{
		padding:10px 20px;
		text-align:right;
		border-top:2px solid #fdfc18;
		border-bottom:2px solid #fdfc18;
		list-style:none;
		
}
.nav-mobile ul li a{
	text-transform:uppercase;
	font-size:25px;
	text-decoration:none;
	color:#171015;
		magin:auto;

}
.nav-title-mobile{
	background:#171015;
	color:#fdfc18;
}
	.slide{
	border-left:1px solid #707070;
	width:25%;
	float:left;
}	

	.slider{
	position:relative;
	width:200%;
	z-index:5;
}
		.container-slider{
		width:100%;
		position:relative;
		margin-left: auto;
		margin-right: auto;
		height:auto;
		z-index:10;
		overflow:hidden;
		
	}
.center-slider{
margin:auto;
width:100%;	
}

.slider-transform-2-1{
	 transform: translate(-25%, 0);
	 -ms-transform: (-25%, 0);
    -webkit-transform: (-25%, 0);
}
.slider-transform-2-2{
	 transform: translate(-50%, 0);
	 -ms-transform: (-50%, 0);
    -webkit-transform: (-50%, 0);
}
	.container{
		width:100%;
	}
  .hcontact{
	  position:relative;
	white-space: nowrap; 
	overflow:hidden;}
		.hcontack-href{
		line-height:16px;
		 padding:0 15px;
		text-decoration:none;
		color:#fff;
	}
	.hcontack-border-left{
		border-left : 1px solid #707070;
	}
/*******************************/
.hlogo{
	overflow:hidden;
	padding-top:20px;
		padding-left:10px;
		position:relative;
		width:60%;
}
.hlogo h1{
		height:50px;
}
.hlogo h1>a{
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;
	font-size:12px;

}
.hlogo h1 a span{
	margin-top:-3px;
}	
.hmenu{
	display:none;
}
.htext{
	    clear: left;
		padding-top:50px;
		padding-bottom: 60px;
		padding-left:10px;
}
.htext>h2{
	text-transform:uppercase;
	font-size:26px;
	 font-weight: 900;
	/*font-family:Montserrat-Bold;	*/
}
/**********slide move*********/
.slider-gray{
		-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
.slide:hover .slider-gray{

	-webkit-transition:-webkit-filter 1s ease-in-out; 
	-moz-transition: -moz-filter 1s ease-in-out; 
	 -o-transition: -o-filter 1s ease-in-out; 
	transition: filter 1s ease-in-out; 
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);

}
	
.slide-border-right{
	border-right:1px solid #707070;
}

.slider{
	 transition: all 700ms linear;
	 -webkit-transition: all 700ms linear;
	 -moz-transition: all 700ms linear;
	 -o-transition: all 700ms linear;
}
.arrow-left {
	background:rgba(253,252,24,0.4) url("../img/arrows.png") no-repeat;
	height:75px;
	background-size: 100px !important;
	background-position: center left !important;
	width:50px;
	position:absolute;
	z-index:50;
	top:225px;
	left:calc(100% - 105px);
	cursor:pointer;			
}
.arrow-left.disabled {
	background: rgba(253,252,24,0.1) url("../img/arrows.png") no-repeat;
	cursor:no-drop;
}

.arrow-right {
	background:rgba(253,252,24,0.4)  url("../img/arrows.png") no-repeat;
	height:75px;
	background-size: 100px !important;
	background-position: center right !important;
	width:50px;
	position:absolute;
	z-index:50;
	top:225px;
	right:5px;
	cursor:pointer;		
}
.arrow-right.disabled {
	background: rgba(253,252,24,0.1) url("../img/arrows.png") no-repeat;
	cursor:no-drop;
}	
	/************************/
.slide-border-right{
	border-right:1px solid #707070;
}
	.slide-link{
		text-decoration:none;
	}
		.slide-icon{
			padding:15px 25px 5px 25px;
		}


		.slide-h3{
			padding:0 70px 0 20px;
			text-decoration:none;
			text-transform:uppercase;
			color:#fdfc18;
			font-size:18px;
		}
		.slider-img{
			max-width:100%;
			margin:20px 0 0px 0;
			box-sizing: border-box;
			position: relative;
			background-size: 600px !important;
			background-position: center center !important;
			width:100%;
			height:15vw;
		}
				.slider-img-1{
			background: #fff url('../img/slide1.jpg') no-repeat; 

		}
		.slider-img-2{
			background: #fff url('../img/slide2.jpg') no-repeat; 
		}
		.slider-img-3{
			background: #fff url('../img/slide3.jpg') no-repeat; 
		}
		.slider-img-4{
			background: #fff url('../img/slide4.jpg') no-repeat; 
		}
		.slide:hover .slider-img{
			transition: 1s ease-in-out; 
			-webkit-transition:1s ease-in-out; 
			-moz-transition: 1s ease-in-out; 
			-o-transition: 1s ease-in-out; 
			background-size: 700px !important;
			
		}
		
		.slide-description{
			padding: 20px 20px 50px 20px;
			color:#bbbaba;
			font-size:12px;
			background:#171015;
		}

		/*********news*******/		
.news-article{
	width:100%;
	margin:auto;
background:#fff;
position:relative;
z-index:15;
margin-top:-35px;
overflow:auto;
margin-bottom:20px;
}
.news {
	width:100%;
	margin: auto;
	padding: 30px 15px;
	float:none;
}
.news-container{
	padding:0 ;
	float:none;
	width:90%;
	padding:0 5px;
	overflow:auto;
	margin:auto;
}

.news-container-title h3{
	padding-top:20px;
	padding-left:20px;
	padding-bottom:10px;
	text-align:left;
	width:100%;
}
.news-container-data{
	float:right;
	color:#908f8f;
}
.news-container-img{
	float:left;
	padding:20px;

}
.news-container-p{
	float:left;
	width:70%;
	text-align:justify;

}
.news-container a{
	text-decoration:none;
	color:#171015;
}
.news-container span{
	color:#908f8f;
	text-shadow: 3px 3px 10px rgba(253, 252, 24, 1);
}

/****footer*********/
footer{
	width:100%;
	position:relative;
	height:100px;
}
.top-footer{
	width:95%;
	margin:auto;
	overflow:hidden;
}
	.fofirmie{
		width:50%;
		background:#171015;
		float:left;
		color:#fff;
		text-transform:uppercase;
		font-size:12px;
		overflow:auto;
		height:127px;
		padding: 20px 30px;
	}
	.fimg{
		width:50%;
		float:left;
		height:127px;
		}
		.fimg-png{
			height:127px;
			width:100%;
			box-sizing: border-box;
			position: relative;
			background-size: 500px !important;
			background-position: center center !important;
			background: #fff url('../img/imgfooter.png') no-repeat; 
		}
	.ftext{
		width:100%;
		background:#fdfc18;
		float:left;
		height:127px;
		padding: 20px 30px;
	}
.bottom-footer{
	width:95%;
	margin:auto;
	background:#171015;
	height:66px;
	position:relative;
}
.bottom-footer-text{
	width:50%;
	float:left;
	color:#908f8f;
	text-transform:uppercase;
	font-size:12px;
	padding: 27px 0 0 30px;
}
.bottom-footer-logo{
	float:right;
	height:66px;
}
.bottom-footer-up{
	float:right;
	height:66px;
	cursor:pointer;
	
}
/******************************/
}
@media only screen and (min-width: 767px){
	body{display:block;}
	.hcontack-menu{display:block;}
	.header-background { 
background: #fff url('../img/header-background-min.jpg') no-repeat center; 
    box-sizing: border-box;
    position: relative;
    background-size: 1350px !important;
    background-position: center 0px !important;
}

	.slide{
	border-left:1px solid #707070;
	width:25%;
	float:left;
}	
	.slider{
	position:relative;
	width:200%;
	z-index:5;
}
		.container-slider{
		width:100%;
		position:relative;
		margin-left: auto;
		margin-right: auto;
		height:auto;
		z-index:10;
		overflow:hidden;
		
	}
.center-slider{
margin:auto;
width:100%;	
}
.slider-transform-2-1{
	 transform: translate(-25%, 0);
	 -ms-transform: (-25%, 0);
    -webkit-transform: (-25%, 0);
}
.slider-transform-2-2{
	 transform: translate(-50%, 0);
	 -ms-transform: (-50%, 0);
    -webkit-transform: (-50%, 0);
}

	.container{
		width:100%;
	}
  .hcontact{
	 position:relative;
	white-space: nowrap; 
	overflow:hidden;
	}
	.hcontack-href{
		line-height:16px;
		padding:0 15px;
		text-decoration:none;
		color:#fdfc18;
	}
	.hcontack-border-left{
		border-left : 1px solid #707070;
	}
/*******************************/
.hlogo{
	overflow:hidden;
	padding-top:20px;
		padding-left:10px;
		position:relative;
		width:70%;
}
.hlogo h1{
		height:50px;
}
.hlogo h1>a{
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;
	font-size:16px;

}
.hlogo h1 a span{
	margin-top:-3px;
}	
.hmenu{
	width:100%;
	margin: 50px 20px 0 20px;
	float:none;
	position:relative;
	overflow:hidden;
	display:block;
}
.nav-full{
	display:none;
}
.nav-full ul{
	
}
.nav-last{
	border-right:none !important;
}
.nav-full ul li{
	float:left;
	list-style:none;
	border-right : 1px solid #707070;
}

.nav-full ul li a{
	padding:25px 50px 25px 50px;
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;		
		}
.nav-full ul li a:hover{
	padding:25px 50px 25px 50px;
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;		
		}
.htext{
	    clear: left;
		padding-top:55px;
		padding-bottom: 40px;
		padding-left:10px;
}
.htext>h2{
	text-transform:uppercase;
	font-size:36px;
	 font-weight: 900;
	/*font-family:Montserrat-Bold;	*/
}
/**********slide move*********/
.slider-gray{
		-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
.slide:hover .slider-gray{

	-webkit-transition:-webkit-filter 1s ease-in-out; 
	-moz-transition: -moz-filter 1s ease-in-out; 
	 -o-transition: -o-filter 1s ease-in-out; 
	transition: filter 1s ease-in-out; 
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);

}
.slider-color{
	-webkit-transition:-webkit-filter 1s ease-in-out; 
	-moz-transition: -moz-filter 1s ease-in-out; 
	 -o-transition: -o-filter 1s ease-in-out; 
	transition: filter 1s ease-in-out; 
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}	
.slide-border-right{
	border-right:1px solid #707070;
}

.slider{
	 transition: all 700ms linear;
	 -webkit-transition: all 700ms linear;
	 -moz-transition: all 700ms linear;
	 -o-transition: all 700ms linear;
}
.arrow-left {
	background:rgba(253,252,24,0.4) url("../img/arrows.png") no-repeat;
	height:75px;
	background-size: 100px !important;
	background-position: center left !important;
	width:50px;
	position:absolute;
	z-index:50;
	top:275px;
	left:calc(100% - 105px);
	cursor:pointer;			
}
.arrow-left.disabled {
	background: rgba(253,252,24,0.1) url("../img/arrows.png") no-repeat;
	cursor:no-drop;
}

.arrow-right {
	background:rgba(253,252,24,0.4)  url("../img/arrows.png") no-repeat;
	height:75px;
	background-size: 100px !important;
	background-position: center right !important;
	width:50px;
	position:absolute;
	z-index:50;
	top:275px;
	right:5px;
	cursor:pointer;		
}
.arrow-right.disabled {
	background: rgba(253,252,24,0.1) url("../img/arrows.png") no-repeat;
	cursor:no-drop;
}	
	/************************/
	.slide-link{
		text-decoration:none;
	}
		.slide-icon{
			padding:20px 50px 5px 50px;
		}
		.slide-h3{
			padding:0 70px 0 20px;
			text-decoration:none;
			text-transform:uppercase;
			color:#fdfc18;
			font-size:24px;
		}
		.slider-img{
			max-width:100%;
			margin:20px 0 0px 0;
			box-sizing: border-box;
			position: relative;
			background-size: 500px !important;
			background-position: center center !important;
			width:100%;
			height:150px;
		}
		.slider-img-1{
			background: #fff url('../img/slide1.jpg') no-repeat; 

		}
		.slider-img-2{
			background: #fff url('../img/slide2.jpg') no-repeat; 
		}
		.slider-img-3{
			background: #fff url('../img/slide3.jpg') no-repeat; 
		}
		.slider-img-4{
			background: #fff url('../img/slide4.jpg') no-repeat; 
		}
		.slide:hover .slider-img{
			transition: 1s ease-in-out; 
			-webkit-transition:1s ease-in-out; 
			-moz-transition: 1s ease-in-out; 
			-o-transition: 1s ease-in-out; 
			background-size: 500px !important;
			
		}
		
		.slide-description{
			padding: 30px 20px 50px 20px;
			color:#bbbaba;
			font-size:16px;
			background:#171015;
		}

		/*********news*******/		
.news-article{
	width:100%;
	margin:auto;
	background:#fff;
	position:relative;
	z-index:15;
	margin-top:-35px;
	overflow:auto;
	margin-bottom:20px;
}
.news {
	width:100%;
	margin: auto;
	padding: 30px 15px;
	float:none;
}
.news-container{
	padding:0 ;
	float:none;
	width:90%;
	padding:0 5px;
	overflow:auto;
	margin:auto;
}
.news-container-title h3{
	padding-top:20px;
	padding-left:20px;
	padding-bottom:10px;
	text-align:left;
	width:100%;
}
.news-container-data{
	float:right;
	color:#908f8f;
}
.news-container-img{
	float:left;
	padding:20px;

}
.news-container-p{
	float:left;
	width:80%;
	text-align:justify;

}
.news-container a{
	text-decoration:none;
	color:#171015;
}
.news-container span{
	color:#908f8f;
	text-shadow: 3px 3px 10px rgba(253, 252, 24, 1);
}

/****footer*********/
footer{
	width:100%;
	position:relative;
	height:100px;
}
.top-footer{
	width:95%;
	margin:auto;
	overflow:hidden;
}
	.fofirmie{
		width:calc(40% - 162px);
		background:#171015;
		float:left;
		color:#fff;
		text-transform:uppercase;
		font-size:14px;
		font-weight: bold;
		overflow:auto;
		height:127px;
		padding: 20px 30px;
	}
	.fimg{
		width:162px;
		float:left;
		height:127px;
		}
	.ftext{
		width:60%;
		background:#fdfc18;
		float:left;
		height:127px;
		padding: 20px 30px;
		font-size:14px;
	}
.bottom-footer{
	width:95%;
	margin:auto;
	background:#171015;
	height:66px;
	position:relative;
}
.bottom-footer-text{
	width:50%;
	float:left;
	color:#908f8f;
	text-transform:uppercase;
	font-size:12px;
	padding: 27px 0 0 30px;
}
.bottom-footer-logo{
	float:right;
	height:66px;
}
.bottom-footer-up{
	float:right;
	height:66px;
	cursor:pointer;
	
}
/******************************/
}
@media only screen and (min-width: 1002px){
	body{display:block;}
		.hcontack-menu{display:none;}
	.header-background { 
		background: #fff url('../img/header-background.jpg') no-repeat center; 
		box-sizing: border-box;
		position: relative;
		background-size: 1800px !important;
		background-position: center 0 !important;
}
	.hmenu-mobile{display:none;}
	.slider-transform{
	 transform: translate(-25%, 0);
	 -ms-transform: (-25%, 0);
    -webkit-transform: (-25%, 0);
}
	.slide{
	border-left:1px solid #707070;
	width:25%;
	float:left;
}	
	.slider{
	position:relative;
	width:133%;
	z-index:5;
}
		.container-slider{
		width:100%;
		position:relative;
		margin-left: auto;
		margin-right: auto;
		height:auto;
		z-index:10;
		overflow:hidden;
		
	}
.center-slider{
	margin:auto;
	width:100%;	
}
	.container{
		width:100%;
	}
  .hcontact{
	white-space: nowrap; }
		.hcontack-href{
		line-height:16px;
		 padding:0 15px;
		text-decoration:none;
		color:#fdfc18;
	}
		.hcontack-border-left{
		border-left : 1px solid #707070;
	}
/*******************************/
.hlogo{
	padding-top:15px;
		padding-left:10px;
			position:static;
	float : left;
	width:auto;
}
.hlogo h1{
		height:50px;
}
.hlogo h1>a{
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;
	font-size:15px;

}
.hlogo h1 a span{
	margin-top:-3px;
}	
.hmenu{
	clear:right;
	float:right;
	margin-top:35px;
		width: auto;
    margin: 50px 0px 0 0px;
    position: relative;
    overflow: hidden;
	display:block;
}
.nav-full{
	display:block;
}
.nav-full ul{
	
}
.nav-last{
	border-right:none !important;
}
.nav-full ul li{
	float:left;
	list-style:none;
	border-right : 1px solid #707070;
}

.nav-full ul li a{
	padding:25px;
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;		
		}
.nav-full ul li a:hover{
	padding:25px;
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;		
		}
.htext{
	    clear: left;
		padding-top:75px;
		padding-bottom: 85px;
		padding-left:10px;
}
.htext>h2{
	text-transform:uppercase;
	font-size:40px;
	 font-weight: 900;
	/*font-family:Montserrat-Bold;	*/
}
/**********slide move*********/
.slider-gray{
		-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
.slide:hover .slider-gray{

	-webkit-transition:-webkit-filter 1s ease-in-out; 
	-moz-transition: -moz-filter 1s ease-in-out; 
	 -o-transition: -o-filter 1s ease-in-out; 
	transition: filter 1s ease-in-out; 
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);

}
.slider-color{
	-webkit-transition:-webkit-filter 1s ease-in-out; 
	-moz-transition: -moz-filter 1s ease-in-out; 
	 -o-transition: -o-filter 1s ease-in-out; 
	transition: filter 1s ease-in-out; 
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}	
.slide-border-right{
	border-right:1px solid #707070;
}

.slider{
	 transition: all 700ms linear;
	 -webkit-transition: all 700ms linear;
	 -moz-transition: all 700ms linear;
	 -o-transition: all 700ms linear;
}
.arrow-left {
	background:rgba(253,252,24,0.4) url("../img/arrows.png") no-repeat;
	height:75px;
	background-size: 100px !important;
	background-position: center left !important;
	width:50px;
	position:absolute;
	z-index:50;
	top:320px;
	left:calc(100% - 105px);
	cursor:pointer;			
}
.arrow-left.disabled {
	background: rgba(253,252,24,0.1) url("../img/arrows.png") no-repeat;
	cursor:no-drop;
}

.arrow-right {
	background:rgba(253,252,24,0.4)  url("../img/arrows.png") no-repeat;
	height:75px;
	background-size: 100px !important;
	background-position: center right !important;
	width:50px;
	position:absolute;
	z-index:50;
	top:320px;
	right:5px;
	cursor:pointer;		
}
.arrow-right.disabled {
	background: rgba(253,252,24,0.1) url("../img/arrows.png") no-repeat;
	cursor:no-drop;
}	
.slide-move-right{
	transform: translate3d(400px, 0, 0);
}
.slide-move-left{
	transform: translate3d(-400px, 0, 0);
}
	/************************/
.slide-border-right{
	border-right:1px solid #707070;
}
	.slide-link{
		text-decoration:none;
	}
		.slide-icon{
			padding:40px 50px 5px 50px;
		}
		.slide-h3{
			padding:0 20px;
			text-decoration:none;
			text-transform:uppercase;
			color:#fdfc18;
			font-size:28px;
		}
		.slider-img{
			max-width:100%;
			margin:30px 0 0px 0;
			box-sizing: border-box;
			position: relative;
			background-size: 500px !important;
			background-position: center center !important;
			width:100%;
			height:150px;
		}
		.slider-img-1{
			background: #fff url('../img/slide1.jpg') no-repeat; 

		}
		.slider-img-2{
			background: #fff url('../img/slide2.jpg') no-repeat; 
		}
		.slider-img-3{
			background: #fff url('../img/slide3.jpg') no-repeat; 
		}
		.slider-img-4{
			background: #fff url('../img/slide4.jpg') no-repeat; 
		}
		.slide:hover .slider-img{
			transition: 1s ease-in-out; 
			-webkit-transition:1s ease-in-out; 
			-moz-transition: 1s ease-in-out; 
			-o-transition: 1s ease-in-out; 
			background-size: 600px !important;
			
		}

		.slide-description{
			padding: 30px 20px 50px 20px;
			color:#bbbaba;
			font-size:16px;
			background:#171015;
		}
		.slide-zoom{
			transition: all .2s ease-in-out; 
			position:relative;
			transform: scale(1.2); 
			z-index:2000;
}
		/*********news*******/		
.news-article{
	width:100%;
	margin:auto;
	background:#fff;
	position:relative;
	z-index:15;
	margin-top:-15px;
	overflow:auto;
	margin-bottom:20px;
}
.news {
	width:100%;
	margin: auto;
	padding: 30px 15px;
	float:none;
}
.news-container{
	padding:0 ;
	float:left;
	width:50%;
	padding:0 5px;
	overflow:auto;
}

.news-container-title{
	float:none;
	font-family:'Montserrat', sans-serif;
	font-size:18px;
	width:auto;
}

.news-container-title h3{
	padding-left:20px;
	padding-bottom:10px;
	text-align:left;
	width:100%;
}
.news-container-data{
	float:right;
	color:#908f8f;
}
.news-container-img{
	float:left;
	padding:0px  20px 20px 20px;

}
.news-container-p{
	float:left;
	width:calc(100% - 120px);
	text-align:justify;

}
.news-container a{
	text-decoration:none;
	color:#171015;
}
.news-container span{
	color:#908f8f;
	text-shadow: 3px 3px 10px rgba(253, 252, 24, 1);
}

/****footer*********/
footer{
	width:100%;
	position:relative;
	height:100px;
}
.top-footer{
	width:95%;
	margin:auto;
	overflow:hidden;
}
	.fofirmie{
		width:25%;
		background:#171015;
		float:left;
		color:#fff;
		text-transform:uppercase;
		font-size:16px;
		font-weight: bold;
		overflow:auto;
		height:127px;
		padding: 20px 30px;
	}
	.fimg{
		width:20%;
		float:left;
		height:127px;
		}
	.ftext{
		width:55%;
		background:#fdfc18;
		float:left;
		height:127px;
		padding: 20px 30px;
		font-size:14px;
	}
.bottom-footer{
	width:95%;
	margin:auto;
	background:#171015;
	height:66px;
	position:relative;
}
.bottom-footer-text{
	width:50%;
	float:left;
	color:#908f8f;
	text-transform:uppercase;
	font-size:12px;
	padding: 27px 0 0 30px;
}
.bottom-footer-logo{
	float:right;
	height:66px;
}
.bottom-footer-up{
	float:right;
	height:66px;
	cursor:pointer;
	
}
/******************************/
}
@media only screen and (min-width: 1250px){
		body{display:block;}	
.header-background { 
	background: #fff url('../img/header-background.jpg') no-repeat center; 
    box-sizing: border-box;
    position: relative;
    background-size: inherit !important;
    background-position: center 0 !important;
}
	.hmenu-mobile{display:none;}
	.hcontack-menu{display:none;}
	.container{
		width:1200px;
	}
.slider-transform{
	 transform: translate(-400px, 0);
	 -ms-transform: (-400px, 0);
    -webkit-transform: (-400px, 0);
}
.hcontact{
		white-space: nowrap; 
		}
	.icon-phone{
		line-height:16px;
		
	}
	.hcontack-href{
		line-height:16px;
		 padding:0 15px;
		text-decoration:none;
		color:#fdfc18;
	}
	.hcontack-border{
		border-right : 1px solid #707070;
	}
	.hcontack-border-left{
		border-left : 1px solid #707070;
	}
	.hcontack-float{
		padding-top: 15px;
		float: right;
	}
.hlogo{
	position:static;
	float : left;
	padding-top:60px;
	width:auto;
}
.hlogo h1{
		height:50px;
}
.hlogo h1>a{
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;
	font-size:16px;

}
.hlogo h1 a span{
	margin-top:-3px;
}	
.hmenu{
	clear:right;
	float:right;
	width: auto;
    margin: 50px 0px 0 0px;
    position: relative;
    overflow: hidden;
	display:block;
}
.nav-full{
	display:block;
}
.nav-full ul{
	
}
.nav-last{
	border-right:none !important;
}
.nav-full ul li{
	float:left;
	list-style:none;
	border-right : 1px solid #707070;
}

.nav-full ul li a{
	padding:25px;
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;		
		}
.nav-full ul li a:hover{
	padding:25px;
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;		
		}
.htext{
	    clear: left;
		padding-top:60px;
		padding-bottom: 75px;
}
.htext>h2{
	text-transform:uppercase;
	font-size:36px;
	 font-weight: 900;
}
.slide{
	border-left:1px solid #707070;
	width:400px;
	float:left;
}
.slide:nth-child(3){
	width:399px;
}
.slider{
	position:relative;
	width:1800px;
	z-index:5;
}

.arrow-left {
	background:rgba(253,252,24,0.4) url("../img/arrows.png") no-repeat;
	height:75px;
	background-size: 100px !important;
	background-position: center left !important;
	width:50px;
	position:absolute;
	z-index:50;
	top:330px;
	left:calc(calc(calc(100% + 1200px) / 2 ) - 102px);
	cursor:pointer;			
}
.arrow-left.disabled {
	background: rgba(253,252,24,0.1) url("../img/arrows.png") no-repeat;
	cursor:no-drop;
}

.arrow-right {
	background:rgba(253,252,24,0.4)  url("../img/arrows.png") no-repeat;
	height:75px;
	background-size: 100px !important;
	background-position: center right !important;
	width:50px;
	position:absolute;
	z-index:50;
	top:330px;
	right:calc(calc(calc(100% - 1200px) / 2 ) + 2px);
	cursor:pointer;		
}
.arrow-right.disabled {
	background: rgba(253,252,24,0.1) url("../img/arrows.png") no-repeat;
	cursor:no-drop;
}

		.container-slider{
		width:1200px;
		position:relative;
		margin-left: calc(50%-600px);
		margin-right: calc(50%-600px);
		height:auto;
		z-index:10;
		overflow:hidden;
		
	}
.center-slider{
margin:auto;
width:1200px;	
}
.slider-gray{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	
}
.slider-color{
	transition: filter 1s ease-in-out; 
	-webkit-transition:-webkit-filter 1s ease-in-out; 
	-moz-transition: -moz-filter 1s ease-in-out; 
	 -o-transition: -o-filter 1s ease-in-out; 
	
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	
}	
.slide-border-right{
	border-right:1px solid #707070;

}
	.slide-link{
		text-decoration:none;
	}
.slide-hide{
	display:none;		
	}
		.slide-icon{
			padding:40px 50px 5px 50px;
		}

		.slide-h3{
			padding:0 50px;
			text-decoration:none;
			text-transform:uppercase;
			color:#fdfc18;
			font-size:28px;
		}
		.slider-img{
			max-width:100%;
			margin:30px 0 0px 0;
		}
		.slide-description{
			padding: 30px 50px 50px 50px;
			color:#bbbaba;
			font-size:16px;
			background:#171015;
		}

/*********news*******/		
.news-article{
	width:100%;
	margin:auto;	
	overflow:auto;
	
}
.news {
	width:1200px;
	margin: auto;
	padding: 50px 40px;
	float:none;
		overflow:auto;
}
.news-container{
	padding:0;
	float:left;
	width:550px;
	padding:0 10px;
		overflow:auto;
}
.news-container-title{
	float:left;
	font-family:'Montserrat', sans-serif;
	font-size:18px;
	width:auto;
	padding-left:120px;
}
.news-container-title h3{
padding-left:0px;}
.news-container-data{
	float:right;
	color:#908f8f;
}

.news-container-img{
	clear:left;
	padding:20px;

}
.news-container-p{
	float:left;
	width:410px;
	text-align:justify;

}
.news-container a{
	text-decoration:none;
	color:#171015;
}
.news-container span{
	color:#908f8f;
	text-shadow: 3px 3px 10px rgba(253, 252, 24, 1);
}



/****footer*********/
footer{
	width:100%;
	position:relative;
	height:100px;
}
.top-footer{
	width:80%;
	margin:auto;
	overflow:hidden;
}
	.fofirmie{
		width:calc(45% - 324px);
		background:#171015;
		float:left;
		color:#fff;
		text-transform:uppercase;
		font-weight: bold;
		font-size:18px;
		overflow:auto;
		height:127px;
		padding: 30px 30px;
	}
	.fimg{
		width:324px;
		float:left;
		height:127px;
		}
	.ftext{
		width:55%;
		background:#fdfc18;
		float:left;
		height:127px;
		padding: 30px 50px;
		font-size:16px;
	}
.bottom-footer{
	width:80%;
	margin:auto;
	background:#171015;
	height:66px;
	position:relative;
}
.bottom-footer-text{
	width:50%;
	float:left;
	color:#908f8f;
	text-transform:uppercase;
	font-size:12px;
	padding: 27px 0 0 30px;
}
.bottom-footer-logo{
	float:right;
	height:66px;
}
.bottom-footer-up{
	float:right;
	height:66px;
	cursor:pointer;
	
}

}

=======
@charset "utf-8";
/* CSS Document */
@font-face {
font-family: Montserrat-Bold;
src: url("fonts/Montserrat-Bold.ttf");
font-weight: bold;
}
	@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,latin-ext');

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
.container{
	position:relative;	
	margin:0 auto;
	}
html {
    -webkit-tap-highlight-color: transparent;
}
  .hcontact{
	white-space: nowrap; }
	.icon-phone{
		line-height:16px;
		
	}
	.hcontack-href{
		line-height:16px;
		 padding:0 15px;
		text-decoration:none;
		color:#fdfc18;
	}
	.hcontack-border{
		border-right : 1px solid #707070;
	}
	.hcontack-float{
		padding-top: 15px;
		float: right;
	}
	
.hlogo{
	float : left;
	padding-top:60px;
	width:auto;
}
.hlogo h1{
		height:50px;
}
.hlogo h1>a{
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;
	font-size:16px;

}
.hlogo h1 a span{
	margin-top:-3px;
}	
.hmenu{
	clear:right;
	float:right;
	margin-top:15px;
}
.nav-full{
	
}
.nav-full ul{
	
}
.nav-last{
	border-right:none !important;
}
.nav-full ul li{
	float:left;
	list-style:none;
	border-right : 1px solid #707070;
}

.nav-full ul li a{
	padding:25px;
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;		
		}
.nav-full ul li a:hover{
	padding:25px;
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;		
		}
.htext{
	    clear: left;
		padding-top:60px;
		padding-bottom: 60px;
}
.htext>h2{
	text-transform:uppercase;
	font-size:36px;
	 font-weight: 900;

}
.slide{
	border-left:1px solid #707070;
	width:400px;
	float:left;
}	
.slide-border-right{
	border-right:1px solid #707070;
}
	.slide-link{
		text-decoration:none;
	}
		.slide-icon{
			padding:40px 50px 5px 50px;
		}
		.slide-h3{
			padding:0 50px;
			text-decoration:none;
			text-transform:uppercase;
			color:#fdfc18;
			font-size:28px;
		}
		.slider-img{
			max-width:100%;
			margin:30px 0 0px 0;
		}
		.slide-description{
			padding: 30px 50px 30px 50px;
			color:#bbbaba;
			font-size:16px;
			background:#171015;
		}
		/*****************menu tab*********/
		
		/********************************/
@media only screen and (min-width: 480px){
	body{display:block;}
	.hcontack-menu{
		display:block;
	}
	.header-background { 
background: #fff url('../img/header-background-min.jpg') no-repeat center; 
    box-sizing: border-box;
    position: relative;
    background-size: 1100px !important;
    background-position: center 0px !important;
}
	body {
	font: 17px "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	width:100%;
	}
/*.hmenu{
	position:fixed;
	top:0;
	right:0;
	z-index:20;
}*/
.hmenu-mobile{
	display:none;
background:#ffd;
position:fixed;
width:80%;
right:10%;
top:0;
height:100vh;	
z-index:20;
}
.nav-mobile{
	font-size:10vh;
	border:none;
}
.nav-mobile ul {
	width:100%;
}
.nav-mobile ul li{
		padding:20px 0;
		text-align:center;
		border-top:2px solid #fdfc18;
		border-bottom:2px solid #fdfc18;
		list-style:none;
}
.nav-mobile ul li a{
	text-transform:uppercase;
	font-size:10vh;
	text-decoration:none;
	color:#171015;
		magin:auto;

}
.nav-title-mobile{
	background:#171015;
	color:#fdfc18;
}
	.slide{
	border-left:1px solid #707070;
	width:25%;
	float:left;
}	
	.slider{
	position:relative;
	width:200%;
	z-index:5;
}
		.container-slider{
		width:100%;
		position:relative;
		margin-left: auto;
		margin-right: auto;
		height:auto;
		z-index:10;
		overflow:hidden;
		
	}
.center-slider{
margin:auto;
width:100%;	
}

.slider-transform-2{
	 transform: translate(-50%, 0);
	 -ms-transform: (-50%, 0);
    -webkit-transform: (-50%, 0);
}
	.container{
		width:100%;
	}
  .hcontact{
	  position:relative;
	white-space: nowrap; 
	overflow:hidden;}
		.hcontack-href{
		line-height:16px;
		 padding:0 15px;
		text-decoration:none;
		color:#fff;
	}
	.hcontack-border-left{
		border-left : 1px solid #707070;
	}
/*******************************/
.hlogo{
	overflow:hidden;
	padding-top:20px;
		padding-left:10px;
		position:relative;
		width:60%;
}
.hlogo h1{
		height:50px;
}
.hlogo h1>a{
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;
	font-size:12px;

}
.hlogo h1 a span{
	margin-top:-3px;
}	
.hmenu{
	display:none;
}
.htext{
	    clear: left;
		padding-top:50px;
		padding-bottom: 30px;
		padding-left:10px;
}
.htext>h2{
	text-transform:uppercase;
	font-size:26px;
	 font-weight: 900;
	/*font-family:Montserrat-Bold;	*/
}
/**********slide move*********/
.slider-gray{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.slider-color{
	-webkit-transition:-webkit-filter 1s ease-in-out; 
	-moz-transition: -moz-filter 1s ease-in-out; 
	 -o-transition: -o-filter 1s ease-in-out; 
	transition: filter 1s ease-in-out; 
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}	
.slide-border-right{
	border-right:1px solid #707070;
}

.slider{
	 transition: all 700ms linear;
	 -webkit-transition: all 700ms linear;
	 -moz-transition: all 700ms linear;
	 -o-transition: all 700ms linear;
}

	/************************/
.slide-border-right{
	border-right:1px solid #707070;
}
	.slide-link{
		text-decoration:none;
	}
		.slide-icon{
			padding:15px 25px 5px 25px;
		}
		.slide-h3{
			padding:0 70px 0 20px;
			text-decoration:none;
			text-transform:uppercase;
			color:#fdfc18;
			font-size:18px;
		}
		.slider-img{
			max-width:100%;
			margin:20px 0 0px 0;
		}
		
		.slide-description{
			padding: 20px 20px 50px 20px;
			color:#bbbaba;
			font-size:12px;
			background:#171015;
		}
		.slide-zoom{
			transition: all .2s ease-in-out; 
			position:relative;
			transform: scale(1.2); 
			z-index:2000;
}
		/*********news*******/		
.news-article{
	width:100%;
	margin:auto;
background:#fff;
position:relative;
z-index:15;
margin-top:-35px;
overflow:auto;
margin-bottom:20px;
}
.news {
	width:100%;
	margin: auto;
	padding: 30px 15px;
	float:none;
}
.news-container{
	padding:0 ;
	float:none;
	width:90%;
	padding:0 5px;
	overflow:auto;
	margin:auto;
}


.news-container-img{
	float:left;
	padding:20px;

}
.news-container-p{
	float:left;
	width:80%;
	text-align:justify;

}
.news-container a{
	text-decoration:none;
	color:#171015;
}
.news-container span{
	color:#908f8f;
	text-shadow: 3px 3px 10px rgba(253, 252, 24, 1);
}

/****footer*********/
footer{
	width:100%;
	position:relative;
	height:100px;
}
.top-footer{
	width:95%;
	margin:auto;
	overflow:hidden;
}
	.fofirmie{
		width:calc(40% - 162px);
		background:#171015;
		float:left;
		color:#fff;
		text-transform:uppercase;
		font-size:12px;
		overflow:auto;
		height:127px;
		padding: 20px 30px;
	}
	.fimg{
		width:162px;
		float:left;
		height:127px;
		}
	.ftext{
		width:60%;
		background:#fdfc18;
		float:left;
		height:127px;
		padding: 20px 30px;
	}
.bottom-footer{
	width:95%;
	margin:auto;
	background:#171015;
	height:66px;
	position:relative;
}
.bottom-footer-text{
	width:50%;
	float:left;
	color:#908f8f;
	text-transform:uppercase;
	font-size:12px;
	padding: 27px 0 0 100px;
}
.bottom-footer-logo{
	float:right;
	height:66px;
}
.bottom-footer-up{
	float:right;
	height:66px;
	cursor:pointer;
	
}
/******************************/
}
@media only screen and (min-width: 767px){
	body{display:block;}
	.hcontack-menu{display:block;}
	.header-background { 
background: #fff url('../img/header-background-min.jpg') no-repeat center; 
    box-sizing: border-box;
    position: relative;
    background-size: 1350px !important;
    background-position: center 0px !important;
}

	body {
	font: 17px "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	width:100%;
	}
	.slide{
	border-left:1px solid #707070;
	width:25%;
	float:left;
}	
	.slider{
	position:relative;
	width:200%;
	z-index:5;
}
		.container-slider{
		width:100%;
		position:relative;
		margin-left: auto;
		margin-right: auto;
		height:auto;
		z-index:10;
		overflow:hidden;
		
	}
.center-slider{
margin:auto;
width:100%;	
}
.slider-transform-2{
	 transform: translate(-50%, 0);
	 -ms-transform: (-50%, 0);
    -webkit-transform: (-50%, 0);
}
	.container{
		width:100%;
	}
  .hcontact{
	  position:relative;
	white-space: nowrap; 
	overflow:hidden;}
		.hcontack-href{
		line-height:16px;
		 padding:0 15px;
		text-decoration:none;
		color:#fdfc18;
	}
	.hcontack-border-left{
		border-left : 1px solid #707070;
	}
/*******************************/
.hlogo{
	overflow:hidden;
	padding-top:20px;
		padding-left:10px;
		position:relative;
		width:70%;
}
.hlogo h1{
		height:50px;
}
.hlogo h1>a{
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;
	font-size:16px;

}
.hlogo h1 a span{
	margin-top:-3px;
}	
.hmenu{
	width:100%;
	margin: 50px 20px 0 20px;
	float:none;
	position:relative;
	overflow:hidden;
	display:block;
}
.nav-full{
	display:none;
}
.nav-full ul{
	
}
.nav-last{
	border-right:none !important;
}
.nav-full ul li{
	float:left;
	list-style:none;
	border-right : 1px solid #707070;
}

.nav-full ul li a{
	padding:25px 50px 25px 50px;
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;		
		}
.nav-full ul li a:hover{
	padding:25px 50px 25px 50px;
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;		
		}
.htext{
	    clear: left;
		padding-top:35px;
		padding-bottom: 30px;
		padding-left:10px;
}
.htext>h2{
	text-transform:uppercase;
	font-size:36px;
	 font-weight: 900;
	/*font-family:Montserrat-Bold;	*/
}
/**********slide move*********/
.slider-gray{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.slider-color{
	-webkit-transition:-webkit-filter 1s ease-in-out; 
	-moz-transition: -moz-filter 1s ease-in-out; 
	 -o-transition: -o-filter 1s ease-in-out; 
	transition: filter 1s ease-in-out; 
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}	
.slide-border-right{
	border-right:1px solid #707070;
}

.slider{
	 transition: all 700ms linear;
	 -webkit-transition: all 700ms linear;
	 -moz-transition: all 700ms linear;
	 -o-transition: all 700ms linear;
}

	/************************/
.slide-border-right{
	border-right:1px solid #707070;
}
	.slide-link{
		text-decoration:none;
	}
		.slide-icon{
			padding:20px 50px 5px 50px;
		}
		.slide-h3{
			padding:0 70px 0 20px;
			text-decoration:none;
			text-transform:uppercase;
			color:#fdfc18;
			font-size:28px;
		}
		.slider-img{
			max-width:100%;
			margin:20px 0 0px 0;
		}
		
		.slide-description{
			padding: 30px 20px 50px 20px;
			color:#bbbaba;
			font-size:16px;
			background:#171015;
		}
		.slide-zoom{
			transition: all .2s ease-in-out; 
			position:relative;
			transform: scale(1.2); 
			z-index:2000;
}
		/*********news*******/		
.news-article{
	width:100%;
	margin:auto;
background:#fff;
position:relative;
z-index:15;
margin-top:-35px;
overflow:auto;
margin-bottom:20px;
}
.news {
	width:100%;
	margin: auto;
	padding: 30px 15px;
	float:none;
}
.news-container{
	padding:0 ;
	float:none;
	width:90%;
	padding:0 5px;
	overflow:auto;
	margin:auto;
}


.news-container-img{
	float:left;
	padding:20px;

}
.news-container-p{
	float:left;
	width:80%;
	text-align:justify;

}
.news-container a{
	text-decoration:none;
	color:#171015;
}
.news-container span{
	color:#908f8f;
	text-shadow: 3px 3px 10px rgba(253, 252, 24, 1);
}

/****footer*********/
footer{
	width:100%;
	position:relative;
	height:100px;
}
.top-footer{
	width:95%;
	margin:auto;
	overflow:hidden;
}
	.fofirmie{
		width:calc(40% - 162px);
		background:#171015;
		float:left;
		color:#fff;
		text-transform:uppercase;
		font-size:12px;
		overflow:auto;
		height:127px;
		padding: 20px 30px;
	}
	.fimg{
		width:162px;
		float:left;
		height:127px;
		}
	.ftext{
		width:60%;
		background:#fdfc18;
		float:left;
		height:127px;
		padding: 20px 30px;
	}
.bottom-footer{
	width:95%;
	margin:auto;
	background:#171015;
	height:66px;
	position:relative;
}
.bottom-footer-text{
	width:50%;
	float:left;
	color:#908f8f;
	text-transform:uppercase;
	font-size:12px;
	padding: 27px 0 0 100px;
}
.bottom-footer-logo{
	float:right;
	height:66px;
}
.bottom-footer-up{
	float:right;
	height:66px;
	cursor:pointer;
	
}
/******************************/
}
@media only screen and (min-width: 1002px){
	body{display:block;}
		.hcontack-menu{display:none;}
	.header-background { 
background: #fff url('../img/header-background.jpg') no-repeat center; 
    box-sizing: border-box;
    position: relative;
    background-size: 1800px !important;
    background-position: center 0 !important;
}
	body {
	font: 17px "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	width:100%;
	}
	.hmenu-mobile{display:none;}
	.slider-transform{
	 transform: translate(-400px, 0);
	 -ms-transform: (-400px, 0);
    -webkit-transform: (-400px, 0);
}
	.slide{
	border-left:1px solid #707070;
	width:25%;
	float:left;
}	
	.slider{
	position:relative;
	width:133%;
	z-index:5;
}
		.container-slider{
		width:100%;
		position:relative;
		margin-left: auto;
		margin-right: auto;
		height:auto;
		z-index:10;
		overflow:hidden;
		
	}
.center-slider{
margin:auto;
width:100%;	
}

.slider-transform-2{
	 transform: translate(-50%, 0);
	 -ms-transform: (-50%, 0);
    -webkit-transform: (-50%, 0);
}
.h
	.container{
		width:100%;
	}
  .hcontact{
	white-space: nowrap; }
		.hcontack-href{
		line-height:16px;
		 padding:0 15px;
		text-decoration:none;
		color:#fdfc18;
	}
		.hcontack-border-left{
		border-left : 1px solid #707070;
	}
/*******************************/
.hlogo{
	padding-top:15px;
		padding-left:10px;
			position:static;
	float : left;
	width:auto;
}
.hlogo h1{
		height:50px;
}
.hlogo h1>a{
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;
	font-size:15px;

}
.hlogo h1 a span{
	margin-top:-3px;
}	
.hmenu{
	clear:right;
	float:right;
	margin-top:35px;
		width: auto;
    margin: 50px 0px 0 0px;
    position: relative;
    overflow: hidden;
	display:block;
}
.nav-full{
	display:block;
}
.nav-full ul{
	
}
.nav-last{
	border-right:none !important;
}
.nav-full ul li{
	float:left;
	list-style:none;
	border-right : 1px solid #707070;
}

.nav-full ul li a{
	padding:25px;
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;		
		}
.nav-full ul li a:hover{
	padding:25px;
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;		
		}
.htext{
	    clear: left;
		padding-top:75px;
		padding-bottom: 60px;
		padding-left:10px;
}
.htext>h2{
	text-transform:uppercase;
	font-size:36px;
	 font-weight: 900;
	/*font-family:Montserrat-Bold;	*/
}
/**********slide move*********/
.slider-gray{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.slider-color{
	-webkit-transition:-webkit-filter 1s ease-in-out; 
	-moz-transition: -moz-filter 1s ease-in-out; 
	 -o-transition: -o-filter 1s ease-in-out; 
	transition: filter 1s ease-in-out; 
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}	
.slide-border-right{
	border-right:1px solid #707070;
}

.slider{
	 transition: all 700ms linear;
	 -webkit-transition: all 700ms linear;
	 -moz-transition: all 700ms linear;
	 -o-transition: all 700ms linear;
}

.slide-move-right{
	transform: translate3d(400px, 0, 0);
}
.slide-move-left{
	transform: translate3d(-400px, 0, 0);
}
	/************************/
.slide-border-right{
	border-right:1px solid #707070;
}
	.slide-link{
		text-decoration:none;
	}
		.slide-icon{
			padding:40px 50px 5px 50px;
		}
		.slide-h3{
			padding:0 20px;
			text-decoration:none;
			text-transform:uppercase;
			color:#fdfc18;
			font-size:28px;
		}
		.slider-img{
			max-width:100%;
			margin:30px 0 0px 0;
		}
		
		.slide-description{
			padding: 30px 20px 50px 20px;
			color:#bbbaba;
			font-size:16px;
			background:#171015;
		}
		.slide-zoom{
			transition: all .2s ease-in-out; 
			position:relative;
			transform: scale(1.2); 
			z-index:2000;
}
		/*********news*******/		
.news-article{
	width:100%;
	margin:auto;
	background:#fff;
	position:relative;
	z-index:15;
	margin-top:-15px;
	overflow:auto;
	margin-bottom:20px;
}
.news {
	width:100%;
	margin: auto;
	padding: 30px 15px;
	float:none;
}
.news-container{
	padding:0 ;
	float:left;
	width:50%;
	padding:0 5px;
	overflow:auto;
}


.news-container-img{
	float:left;
	padding:20px;

}
.news-container-p{
	float:left;
	width:410px;
	text-align:justify;

}
.news-container a{
	text-decoration:none;
	color:#171015;
}
.news-container span{
	color:#908f8f;
	text-shadow: 3px 3px 10px rgba(253, 252, 24, 1);
}

/****footer*********/
footer{
	width:100%;
	position:relative;
	height:100px;
}
.top-footer{
	width:90%;
	margin:auto;
	overflow:hidden;
}
	.fofirmie{
		width:calc(50% - 324px);
		background:#171015;
		float:left;
		color:#fff;
		text-transform:uppercase;
		font-size:18px;
		overflow:auto;
		height:127px;
		padding: 20px 30px;
	}
	.fimg{
		width:324px;
		float:left;
		height:127px;
		}
	.ftext{
		width:50%;
		background:#fdfc18;
		float:left;
		height:127px;
		padding: 20px 30px;
	}
.bottom-footer{
	width:90%;
	margin:auto;
	background:#171015;
	height:66px;
	position:relative;
}
.bottom-footer-text{
	width:50%;
	float:left;
	color:#908f8f;
	text-transform:uppercase;
	font-size:12px;
	padding: 27px 0 0 100px;
}
.bottom-footer-logo{
	float:right;
	height:66px;
}
.bottom-footer-up{
	float:right;
	height:66px;
	cursor:pointer;
	
}
/******************************/
}
@media only screen and (min-width: 1250px){
		body{display:block;}	
.header-background { 
background: #fff url('../img/header-background.jpg') no-repeat center; 
    box-sizing: border-box;
    position: relative;
    background-size: inherit !important;
    background-position: center 0 !important;
}
	body {
	font: 17px "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	width:100%;
	}
	.hmenu-mobile{display:none;}
		.hcontack-menu{display:none;}
	.container{
		width:1200px;
	}
.slider-transform{
	 transform: translate(-400px, 0);
	 -ms-transform: (-400px, 0);
    -webkit-transform: (-400px, 0);
}
.hcontact{
	white-space: nowrap; }
	.icon-phone{
		line-height:16px;
		
	}
	.hcontack-href{
		line-height:16px;
		 padding:0 15px;
		text-decoration:none;
		color:#fdfc18;
	}
	.hcontack-border{
		border-right : 1px solid #707070;
	}
	.hcontack-border-left{
		border-left : 1px solid #707070;
	}
	.hcontack-float{
		padding-top: 15px;
		float: right;
	}
.hlogo{
	position:static;
	float : left;
	padding-top:60px;
	width:auto;
}
.hlogo h1{
		height:50px;
}
.hlogo h1>a{
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;
	font-size:16px;

}
.hlogo h1 a span{
	margin-top:-3px;
}	
.hmenu{
	clear:right;
	float:right;
	width: auto;
    margin: 50px 0px 0 0px;
    position: relative;
    overflow: hidden;
	display:block;
}
.nav-full{
	display:block;
}
.nav-full ul{
	
}
.nav-last{
	border-right:none !important;
}
.nav-full ul li{
	float:left;
	list-style:none;
	border-right : 1px solid #707070;
}

.nav-full ul li a{
	padding:25px;
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;		
		}
.nav-full ul li a:hover{
	padding:25px;
	text-decoration:none;
	color:#fdfc18;
	text-transform:uppercase;		
		}
.htext{
	    clear: left;
		padding-top:60px;
		padding-bottom: 60px;
}
.htext>h2{
	text-transform:uppercase;
	font-size:36px;
	 font-weight: 900;
	/*font-family:Montserrat-Bold;	*/
}
.slide{
	border-left:1px solid #707070;
	border-right:1px solid #707070;
	width:400px;
	float:left;
}
.slider{
	position:relative;
	width:1800px;
	z-index:5;
}
		.container-slider{
		width:1200px;
		position:relative;
		margin-left: calc(50%-600px);
		margin-right: calc(50%-600px);
		height:auto;
		z-index:10;
		overflow:hidden;
		
	}
.center-slider{
margin:auto;
width:1200px;	
}
.slider-gray{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	
}
.slider-color{
	transition: filter 1s ease-in-out; 
	-webkit-transition:-webkit-filter 1s ease-in-out; 
	-moz-transition: -moz-filter 1s ease-in-out; 
	 -o-transition: -o-filter 1s ease-in-out; 
	
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	
}	
.slide-border-right{
	border-right:1px solid #707070;
}
	.slide-link{
		text-decoration:none;
	}
.slide-hide{
	display:none;		
	}
		.slide-icon{
			padding:40px 50px 5px 50px;
		}
		.slide-h3{
			padding:0 50px;
			text-decoration:none;
			text-transform:uppercase;
			color:#fdfc18;
			font-size:28px;
		}
		.slider-img{
			max-width:100%;
			margin:30px 0 0px 0;
		}
		.slide-description{
			padding: 30px 50px 50px 50px;
			color:#bbbaba;
			font-size:16px;
			background:#171015;
		}
		.slide-zoom{
			transition: all .2s ease-in-out; 
			position:relative;
			transform: scale(1.2); 
			z-index:2000;
}
/*********news*******/		
.news-article{
	width:100%;
	margin:auto;	
	overflow:auto;
	
}
.news {
	width:1200px;
	margin: auto;
	padding: 50px 40px;
	float:none;
		overflow:auto;
}

.news-container{
	padding:0 ;
	float:left;
	width:550px;
	padding:0 10px;
		overflow:auto;
}
.news-container-img{
	float:left;
	padding:20px;

}
.news-container-p{
	float:left;
	width:410px;
	text-align:justify;

}
.news-container a{
	text-decoration:none;
	color:#171015;
}
.news-container span{
	color:#908f8f;
	text-shadow: 3px 3px 10px rgba(253, 252, 24, 1);
}



/****footer*********/
footer{
	width:100%;
	position:relative;
	height:100px;
}
.top-footer{
	width:80%;
	margin:auto;
	overflow:hidden;
}
	.fofirmie{
		width:calc(50% - 324px);
		background:#171015;
		float:left;
		color:#fff;
		text-transform:uppercase;
		font-size:18px;
		overflow:auto;
		height:127px;
		padding: 30px 50px;
	}
	.fimg{
		width:324px;
		float:left;
		height:127px;
		}
	.ftext{
		width:50%;
		background:#fdfc18;
		float:left;
		height:127px;
		padding: 30px 50px;
	}
.bottom-footer{
	width:80%;
	margin:auto;
	background:#171015;
	height:66px;
	position:relative;
}
.bottom-footer-text{
	width:50%;
	float:left;
	color:#908f8f;
	text-transform:uppercase;
	font-size:12px;
	padding: 27px 0 0 100px;
}
.bottom-footer-logo{
	float:right;
	height:66px;
}
.bottom-footer-up{
	float:right;
	height:66px;
	cursor:pointer;
	
}

}

>>>>>>> 13ad0f35ca7960a903caa3511d14b95fde8182c5
